{% extends "confession/base.html" %}

{% block title %}About{% endblock %}

{% block collapse %}

<div class= "panel-group">
	<div class="panel panel-default">
	  <div class="panel-body">

	  <address>
		  <strong>Blablabla, Inc.</strong><br>
		  trololo, Somwhere 600<br>
		  Kamloops, BC <br>
		  <abbr title="Phone">P:</abbr> (123) 456-7890
		</address>

		<address>
		  <strong>Full Name</strong><br>
		  Major: Business<br>
		  Interests: procrastinating<br>
		  PICS<br>
		  <a href="mailto:#">first.last@example.com</a>
	</address>

	  </div>
	</div>
</div>

{% endblock %}

    {% block pagination %}
    {% endblock %}