{% extends "confession/base.html" %}

{% block title %}Submit{% endblock %}

{% block content %}

<div class="panel-group">
  <div class="panel panel-info">
   <div class="panel-heading">Panel heading without title</div>
    <div class="panel-body">
      <form class="form-horizontal" role="form" action="" method="post" autocomplete="off">
        <div class="form-group">
          <div class="col-sm-10">
            <label class="control-label">Title:</label>
            <input type="text" name="title" class="form-control" id="inputPassword" placeholder="Title">
           
            <label class="control-label">Confession:</label>
            <textarea class="form-control" name="text" rows= 7 placeholder="Enter your text here"></textarea>
            <span class="help-block">Please, limit your confession to 500 characters</span>
            
          </div>

        </div>
        {{ form.captcha }}
          <p>
              <button type="submit" id="submit" class="btn btn-default" disabled="true" value="Submit" >Submit</button>
              <button type="button" id="clean" class="btn btn-default">Clear the text</button>
            </p>
          {% csrf_token %}
      </form>
      </div>
  </div>
</div>

{% endblock %}

    {% block pagination %}
    {% endblock %}